{% extends "mails/email.html" %}
{% block content %}
    <font color="#003300"><big><b>{{ subject }}</b></big></font><br>
    <br>
    <font color="#663300">
        Dein Arbeitseinsatz <b>{{ job.typ.displayed_name }}<b/>  um <b>{{ job.time |date:"d.m.Y H:i" }}-{{ job.end_time|date:"H:i" }}</b> wurde leider Abgesagt.
        <br/><br/>
        Details:
        <table cellspacing="0" cellpadding="0">
            <tr>
                <th>Job:</th>
                <td>{{ job.typ.description }}</td>
            </tr>
            <tr>
                <th style="text-align: left; padding-right: 5px;">Zeit:</th>
                <td>{{ job.time |date:"d.m.Y H:i" }}-{{ job.end_time|date:"H:i" }}</td>
            </tr>
            <tr>
                <th style="text-align: left; padding-right: 5px;">Ort:</th>
                <td>{{ job.typ.location }}</td>
            </tr>
        </table><br/>

        Es tut uns leid und wir hoffen dich bei einem anderen Einsatz wieder zu sehen!<br/><br/>
        
        {% include "mails/signature.html" %}
    </font>
{% endblock %}
