{% extends "mails/email.html" %}
{% block content %}
    <font color="#003300"><big><b>{{ subject }}</b></big></font><br>
    <br>
    <font color="#663300">meh als gmües freut sich dir dein neues Passwort schicken zu dürfen.<br>
        <br>
        <table cellpadding="0" cellspacing="10pt">
            <tr>
                <td>Dein Benutzername:</td>
                <td>{{ email }}</td>
            </tr>
            <tr>
                <td>Dein neues Passwort:</td>
                <td>{{ password }}</td>
            </tr>
        </table>
        <br>
        Melde dich an und ändere gleich dein Passwort:<br>
        <a href="{{serverurl}}/my/passwort">{{serverurl}}/my/passwort</a><br>
        <br>
        {% include "mails/signature.html" %}
    </font>
{% endblock %}
