{% extends "mails/email.html" %}
{% block content %}
    <font color="#003300"><big><b>{{ subject }}</b></big></font><br>
    <br>
    <font color="#663300">
        Wir freuen uns, dich bei meh als gmües zu begrüssen.
        <br/><br/>
        meh als gmües versorgt seit April 2016 Zürich Nord mit frischem, saisonalem und ökologisch produziertem Gemüse. Mit unserem Projekt wollen wir die Wertschätzung von Lebensmitteln erhöhen und Food-Waste in der Produktion verringern.
        <br/><br/>
        Bitte zahle den Betrag für den/die Anteilschein/e auf das folgende Konto ein:<br/>
        ortoloco<br/>
        c/o Albizke<br/>
        Albisriederstr. 203 B<br/>
        8047 Zürich<br/>
        Postkonto-Nummer: 85-199010-5<br/>
        IBAN: CH72 0900 0000 8519 9010 5<br/>
        BIC: POFICHBEXXX
        <br/><br/>
        Sobald du Mitglied bist, setzen wir dich auf die Warteliste für ein Gemüse-Abo. Wird eines frei, melden wir uns bei dir.
        <br/><br/>
        Gerne darfst du schon vorher im Garten schnuppern kommen – schau dich auf der Online-Plattform <a href="{{ serverurl }}/my/home">{{ serverurl }}/my/home</a> um und melde dich für einen Einsatz an, wenn du Lust hast. Dein Login:<br/>
        Email: {{ username }}<br/>
        Passwort: {{ password }} (bitte setze dir <a href="{{ serverurl }}/my/passwort">hier</a> gleich ein neues Passwort)
        <br/><br/>
        Bei weitere Fragen kannst du dich einfach per Mail an uns wenden: <a href="mailto:info@mehalsgmues.ch">info@mehalsgmues.ch</a>.
        <br/><br/>
       Bis bald und liebe Grüsse<br>
       die Betriebsgruppe von meh als gmües
    </font>
{% endblock %}
